# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# macOS
.DS_Store
*.swp
*.swo
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Misc
*.log
.env
.env.local
